.azul	{
	position: relative;
	width: 300px;
	height: 300px;
	background-color: blue;
}

.verde	{
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: green;
	margin: 25%;
}

.negro	{
	position: absolute;
	width: 25%;
	height: 25%;
	background-color: black;
}